<div class="nav">
    <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <button mat-icon-button routerLink="maison" aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-icon-button routerLink="objectif" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            <button mat-icon-button routerLink="maison" color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="warn" routerLink="maison" aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button routerLink="aws"  aria-label="Example icon button with a open in new tab icon">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
      </section>
</div>
